<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap4</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="  collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="ms-auto navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
<!-- MAIN -->
<main id="main">
<div  class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.wallpapersafari.com/77/5/WcjD8G.jpg"
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.TTY87RxYonlCGkhWsihPCwHaEK%26pid%3DApi&f=1&ipt=f92d618df5bcd1cefa9095add6acbc3bcfbb3dfaa31f729375d5eba76a5ddf2b&ipo=images"
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.wallpapersafari.com/97/4/0TrgQ6.jpg"
      class="d-block w-100" alt="...">
    </div>
  </div>

</div>
</main>
<!--  -->

  <footer id="footer" class="pb-3 pt-3">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg ">
        <a href="">Pregutas frecuentes</a>
        </div>
        <div class="col-12 col-lg">
        <a href="">Contactanos</a>
        </div>
        <div class="col-12 col-lg">
        <a href="">Prensa</a>
        </div>
        <div class="col-12 col-lg">
        <a href="">Conferencias</a>
        </div>
        <div class="col-12 col-lg">
        <a href="">Términos y condiciones</a>
        </div>
        <div class="col-12 col-lg">
        <a href="">Privacidad</a>
        </div>
        <div class="col-12 col-lg">
          <a href="">Estudiantes</a>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
